.chicken {
    width: 200px;
    text-align: center;
    position: relative;
}

.chicken-body {
    width: 0;
    height: 0;
    border-left:100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 170px solid #b67b69;
}

.chicken-body:after{
    content: '';
    /*background-color: #7f605d;*/
    width:70px;
    height:70px;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    left: -13px;
    margin-top: 79px;
    background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(127,96,93,1) 51%,rgba(127,96,93,1) 100%);
}
.chicken-body:before{
    content: '';
    width:70px;
    height:70px;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    right: -13px;
    margin-top: 79px;
    background: linear-gradient(45deg,  rgba(127,96,93,1) 0%,rgba(127,96,93,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
}

.chicken-head {
    position: relative;
    top:135px;
}

/*eyes*/
.chicken-eye {
    width:35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    border: 20px solid #fff;
    display: inline-block;
    position: relative;
}

.left-eye {
    left: 12px;
}
.right-eye {
    right: 12px;
}

.chicken-head:after{
    content: '';
    width: 0;
    height: 0;
    border-left:20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #dccc6a;
    display: block;
    position: relative;
    left: calc(50% - 20px);
    top: -20px;
}